<%= form_for(@user_info) do |f| %>
  


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/error_messages' %>

    <%= f.label "Student ID：" %>
    <%= f.text_field :StudentID, class: 'form-control' %>
    <%= f.label "Your Name："%>
    <%= f.text_field :Name, class: 'form-control' %>
    <%= f.label "Your Email:" %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.label "Roles ID：" %>
    <%= f.text_field :rolesID, class: 'form-control' %>

    
    <%= f.label "Password："%>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.label :Pwd_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <%= f.submit "Update my account", class: "btn btn-primary" %>


  <% end %>
  <!--<%= link_to 'Back', user_infos_path  %> -->
  </div>
</div>

