<p id="notice"><%= notice %></p>

<% provide(:title, @user_info.Name) %>


<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1> <%= gravatar_for @user_info %>
<%= @user_info.Name %></h1>

<%= "StudentID: " + @user_info.StudentID %><br>
<%= "Email: " + @user_info.Email %><br>




<%= link_to 'Edit', edit_user_info_path(@user_info) %> 
<%= link_to "Delete", @user_info, method: :delete %>
<%= link_to 'Back', user_infos_path %>

    </section>
  </aside>
</div>