<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<%= will_paginate %>

<ul class="items">
    <% @items.each do |item| %>
      <li>
        <%= link_to item.Name, item %>
        <%= link_to 'Show', item %>
        <%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
</ul>



<%= will_paginate %>

<br>

<%= link_to 'New Item', new_item_path %>
